[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "themes/hugo-vitae-norden"]
	path = themes/hugo-vitae-norden
	url = https://github.com/TAbdiukov/hugo-vitae-norden
